<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, maxlength: 500, class:"form-control" %>
  </div>

  <div>
    <%= form.label :status %>
    <% if @task.new_record? %>
      <%= form.check_box :status, disabled: true %>
    <% else %>
      <%= form.check_box :status %>
    <% end %>
    Concluído
  </div>

  <div class="actions">
    <%= form.submit @task.new_record? ? t('buttons.create') : t('buttons.update'), class:"btn btn-primary btn-lg mt-5" %>
  </div>
<% end %>
