<p id="notice"><%= notice %></p>

<h1 class="text-danger">Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Completed at</th>
      <th>Deleted at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task %></td>
        <td><%= task.description %></td>
        <td><%= task.status ? 'Concluída' : 'Pendente' %></td>
        <td><%= task.created_at %></td>
        <td><%= task.updated_at %></td>
        <td><%= task.completed_at %></td>
        <td><%= task.deleted_at %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
