<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
  <title><%= content_for?(:title) ? yield(:title) : "TODO on Rails" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "menu" %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
